In [121]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.externals.six import StringIO  
from IPython.display import Image  
from sklearn.tree import export_graphviz


from sklearn.cross_validation import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn import tree
import os
import csv

df1 = pd.read_csv('2014 excel.csv')
df2 = pd.read_csv('2015 excel.csv')
df3 = pd.read_csv('2016 excel.csv')

In [122]:
#merging files#
frames = [df1, df2, df3]
result = pd.concat(frames, axis=0)

In [123]:
#deleting columns and data#
result= result.drop(['Grid Ref: Northing','Grid Ref: Easting','Reference Number','Expr1','Accident Date','Lighting Conditions','1st Road Class'],axis=1)
result= result.dropna(axis=0)

In [124]:

#listing objects#
list1=['Monday','Tuesday','Wednesday','Thursday']
list2=['Friday','Saturday','Sunday']
list3=['Fine without high winds','Fine with high winds']
list4=['Snowing without high winds','Snowing with high winds']
list5=['Raining without high winds','Raining with high winds']
list6=['Fog or mist']
list7=['Minibus (8 to 16 passenger seats)','Bus or coach (17 or more passenger seats)']
list8=['Goods vehicle 3.5 tonnes mgw and under','Goods vehicle over 3.5 tonnes and under 7.5 tonnes mgw','goods','Goods vehicle over 3.5 tonnes and under 7.5 tonnes mgw']
list9=['Motorcycle over 50cc and up to 125cc','Motorcycle over 125cc and up to 500cc','M cycle 50cc and under','Motorcycle over 500cc','Motorcycle Unknown CC']
list10=['Car','Taxi or Private hire car']

In [125]:
#listing day
#1= weekday
#2= weekend
def b(row):
    if row['Day']in list1:
        val=1
    elif row['Day']in list2:
        val=2
    return val
result['Day'] = result.apply(b, axis=1)


#listing weather conditions#
#1= fine
#2= snowing
#3= raining
#4= fog
#5= other
def e(row):
    if row['Weather Conditions']in list3:
        val=1
    elif row['Weather Conditions']in list4:
        val=2
    elif row['Weather Conditions']in list5:
        val=3
    elif row['Weather Conditions']in list6:
        val=4
    else: 
        val=5   
    return val
result['Weather Conditions'] = result.apply(e, axis=1)

#listing type of vehicle

#1= bus
#2= goods vehicle
#3= motorcycle
#4= car
#5= others
def j(row):
    if row['Type of Vehicle']in list7:
        val=1
    elif row['Type of Vehicle']in list8:
        val=2
    elif row['Type of Vehicle']in list9:
        val=3
    elif row['Type of Vehicle']in list10:
        val=4
    else: 
        val=5  
    return val
result['Type of Vehicle'] = result.apply(j, axis=1)


#listing Time
#1= Day-time
#2= Night-time
def c(row):
    if 600< row['Time (24hr)'] <= 1801:
        val=1
    else:
        val=2
    return val
result['Time (24hr)'] = result.apply(c, axis=1)


  
#Sex Casualty dummies
#1= Female
#0= Male

#Casualty Class
#1=Passenger
#2=Driver
#3=Pedestrian


#Casualty Severity
#Fatal=1
#Serious=2
#Slight=3

#Road Surface
#1=Dry
#2=Wet or Damp
#3=Frost or Ice
#4=Snow

result['Sex of Casualty']=np.where(result['Sex of Casualty']=='Female',1,0)
result['Casualty Class']=np.where(result['Casualty Class']=='Passenger',1,np.where(result['Casualty Class']=='Driver',2,3))

result['Road Surface']=np.where(result['Road Surface']=='Dry',1,np.where(result['Road Surface']=='Wet or Damp',2,np.where(result['Road Surface']=='Frost or Ice',3,4)))

In [126]:
print(result)

      Number of Vehicles  Day  Time (24hr)  Road Surface  Weather Conditions  \
0                      1    2            2             1                   1
1                      1    2            2             1                   1
2                      1    2            2             1                   1
3                      1    2            2             2                   1
4                      2    1            2             2                   1
5                      2    1            2             2                   1
6                      2    1            2             2                   1
7                      2    2            1             2                   5
8                      1    2            2             4                   2
9                      1    1            2             1                   1
10                     2    1            2             1                   1
11                     2    1            2             1                   1
12                     1    2            2             2                   1
13                     1    2            2             1                   1
14                     2    1            2             1                   1
15                     1    1            2             1                   1
16                     2    1            2             1                   1
17                     2    1            2             1                   1
18                     1    2            2             1                   1
19                     2    2            2             2                   3
20                     2    1            2             1                   1
21                     1    1            2             2                   1
22                     1    1            2             2                   1
23                     1    1            2             2                   1
24                     1    1            2             2                   1
25                     1    1            2             2                   1
26                     1    1            2             2                   1
27                     3    2            2             2                   1
28                     3    2            2             2                   1
29                     3    2            2             2                   1
...                  ...  ...          ...           ...                 ...
2519                   1    1            1             1                   1
2520                   1    1            2             1                   1
2521                   2    1            2             2                   1
2522                   2    1            2             2                   1
2523                   2    1            2             2                   1
2524                   5    1            2             2                   1
2525                   5    1            2             2                   1
2526                   1    1            1             3                   1
2527                   2    1            1             2                   1
2528                   2    1            1             2                   1
2529                   2    1            1             2                   1
2530                   2    1            1             2                   1
2531                   2    1            1             2                   1
2532                   2    1            1             2                   1
2533                   2    1            1             3                   1
2534                   1    1            1             3                   1
2535                   2    1            1             3                   1
2536                   1    1            1             1                   1
2537                   2    1            1             1                   1
2538                   1    1            1             1                   1
2539                   3    1            2             1                   1
2540                   4    2            1             1                   1
2541                   2    2            2             1                   1
2542                   2    2            1             1                   1
2543                   2    2            1             1                   1
2544                   2    2            2             2                   1
2545                   2    2            2             2                   1
2546                   2    1            1             1                   1
2547                   2    1            1             1                   1
2548                   1    1            1             1                   1

      Casualty Class Casualty Severity  Sex of Casualty  Age of Casualty  \
0                  2           Serious                0               19
1                  1           Serious                0               19
2                  2           Serious                0               21
3                  2            Slight                0               23
4                  2           Serious                0               60
5                  2           Serious                0               41
6                  1            Slight                0               61
7                  2            Slight                0               26
8                  2            Slight                0               23
9                  3            Slight                0                7
10                 2           Serious                0               33
11                 2           Serious                0               22
12                 2            Slight                1               19
13                 2            Slight                0               20
14                 2            Slight                0               38
15                 2            Slight                0               26
16                 2           Serious                0               41
17                 2            Slight                0               72
18                 3            Slight                1               23
19                 2            Slight                0               29
20                 2            Slight                0               43
21                 2           Serious                0               33
22                 2            Slight                0               17
23                 1            Slight                0               17
24                 1            Slight                0               18
25                 1            Slight                0               17
26                 1            Slight                0               17
27                 2            Slight                0               50
28                 1           Serious                1               41
29                 1            Slight                1               14
...              ...               ...              ...              ...
2519               3           Serious                1               33
2520               3            Slight                0               22
2521               2            Slight                0               20
2522               1            Slight                1               18
2523               2            Slight                0               47
2524               2            Slight                0               22
2525               1           Serious                1               21
2526               2            Slight                1               36
2527               2            Slight                1               39
2528               2            Slight                1               60
2529               2            Slight                0               30
2530               1            Slight                0                7
2531               1            Slight                0                6
2532               1            Slight                1                4
2533               2            Slight                0               25
2534               2            Slight                0               22
2535               2            Slight                0               66
2536               1            Slight                1               82
2537               2            Slight                0               41
2538               3            Slight                1               23
2539               2            Slight                1               66
2540               2            Slight                1               30
2541               2            Slight                0               20
2542               1            Slight                0                4
2543               2            Slight                1               24
2544               2            Slight                0               29
2545               2            Slight                1               30
2546               2           Serious                1               47
2547               3            Slight                0               29
2548               3           Serious                0               36

      Type of Vehicle
0                   4
1                   4
2                   4
3                   4
4                   5
5                   5
6                   5
7                   5
8                   4
9                   4
10                  4
11                  4
12                  4
13                  4
14                  4
15                  4
16                  3
17                  4
18                  4
19                  4
20                  5
21                  4
22                  4
23                  4
24                  4
25                  4
26                  4
27                  4
28                  4
29                  4
...               ...
2519                4
2520                4
2521                4
2522                4
2523                5
2524                4
2525                4
2526                4
2527                4
2528                4
2529                4
2530                4
2531                4
2532                4
2533                4
2534                2
2535                5
2536                1
2537                4
2538                4
2539                4
2540                4
2541                5
2542                4
2543                4
2544                3
2545                4
2546                4
2547                4
2548                5

[7744 rows x 10 columns]

In [127]:

#dividing into train and test datasets

from sklearn.model_selection import train_test_split
  
X = result.drop('Casualty Severity', axis=1)
y = result['Casualty Severity']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state = 1)

In [128]:
import matplotlib.pyplot as plt  
%matplotlib inline
from sklearn.tree import DecisionTreeClassifier

In [129]:
from sklearn.tree import DecisionTreeClassifier  
tree = DecisionTreeClassifier(criterion='gini',max_depth=4,random_state=1)  
tree.fit(X_train, y_train) 
y_pred=tree.predict(X_test)

In [130]:
score = accuracy_score(y_test, y_pred)
print('The accuracy score of decision tree is %.6f' % score)

importance = tree.feature_importances_
column_names = result.columns.values.tolist()
importances = dict(zip(importance, column_names))

important_features = []

for ii in range(len(importance)):
    if ii < 2:
        important_features.append(importances[sorted(importance, reverse = True)[ii]])
        
print('The 3 most important features in decision tree model are: '+str(important_features))

The accuracy score of decision tree is 0.854745
The 3 most important features in decision tree model are: ['Age of Casualty', 'Number of Vehicles']

In [131]:
# Plotting decision tree
from pydotplus import graph_from_dot_data
from sklearn.tree import export_graphviz

dot_data = export_graphviz(tree,
                            filled=True, 
                            rounded=True,
                            out_file=None) 
 
graph.write_png('tree.png')

from IPython.display import Image
Image('tree.png', width=1000)

ModuleNotFoundError: No module named 'pydotplus'